@page "/"
@using PokeApiNet
@using PokiMone.ExternalResources;

@code
{
   
}

<PageTitle>PokiMone</PageTitle>

<h1 class="pokemon-page-title">There are 151 Pokemon</h1>

<table id="pokemonCards">
    <tr class="pokemonCardRow">
        @if (PokemonList?.Any() == true)
        {
            @foreach(var Pokemon in PokemonList)
            {
                <td class="pokemon-card">
                    <div class="card-header">
                        <span class="number">@Pokemon.Id</span>
                        <span class="card-title">@Pokemon.Name</span>
                    </div>
                    <div class="card-image">
                        <img src="@($"images/{Pokemon.Name}.png")" alt="Bulbasaur">
                    </div>
                    <div class="card-details">
                        <div class="Stats">
                            <span class="total">@Pokemon.Stats.Sum(s => s.BaseStat)</span>
                        </div>
                        <div class="card-footer">
                            @foreach (var type in Pokemon.Types)
                            {
                                <spanclass ="type">@type.Type.Name</spanclass>
                            }
                        </div>
                    </div>
                </td>
            }
        }
    </tr>
</table>



@code {

    public PokeApiData apiLayer = new PokeApiData();

    public List<Pokemon>? PokemonList;

    public int TotalPokemon = 151;

    public async Task<List<Pokemon>> GetPokemon()
    {
        var pokemonList = await apiLayer.GetPokemonRange();

        return pokemonList;
    }

    protected override async Task OnInitializedAsync()
    {
        PokemonList = await GetPokemon();
    }
}